In [2]:
import pandas as pd

In [38]:
path_to_dataset = 'data/cars.csv'

raw = pd.read_csv(path_to_dataset, sep=";")

In [39]:
raw.head()

,RN,Price,Make,Model,Body,Fuel,EngineSize,Tachometer,Gearbox,ProductionYear,Color,Private,EnginePower,Doors,Seats,Advert_Title,Features
0,1,6690,Opel,Meriva,MPV,Petrol,1364.0,64250,Manual,2012,Grey,1,88.0,5.0,5.0,Opel Meriva 1.4 ecoflex Edition,"[""ABS"",""All season tyres"",""CD player"",""Central..."
1,2,7100,BMW,5,Combi,Diesel,NaN,213000,Automat,2009,NaN,0,130.0,NaN,NaN,BMW BMW 520 D TOURING-2.HAND-Scheckheftgepflegt,[]
2,3,45000,Audi,A5,Coupe,Petrol,1984.0,17400,Automat,2019,Grey,1,180.0,5.0,4.0,Audi A5 Sportback 45 TFSI quattro S tronic,"[""ABS"",""Adaptive cornering lights"",""Adaptive C..."
3,4,28950,BMW,3,Sedan/Saloon,Diesel,2993.0,189000,Automat,2017,Blue,1,190.0,5.0,5.0,BMW 330d xDrive Automatik M Sportpaket TOP AUT...,"[""ABS"",""Adaptive cornering lights"",""Adaptive C..."
4,5,8500,Audi,A5,Coupe,Petrol,1800.0,226000,Automat,2008,NaN,1,132.0,NaN,NaN,Audi AUDI A5 1.8 TFSI S-LINE AUTOMATIC,"[""ABS"",""Bluetooth"",""Cruise control"",""Full Serv..."

In [40]:
raw.describe()

,RN,Price,EngineSize,Tachometer,ProductionYear,Private,EnginePower,Doors,Seats
count,17362.000000,17362.000000,10357.000000,17362.000000,17362.000000,17362.000000,16629.000000,6440.000000,6358.000000
mean,8681.500000,12961.304573,1860.450130,125929.339016,2012.118650,0.368218,119.993565,4.649068,4.871186
std,5012.122022,10745.101369,757.318463,61654.241501,3.951958,0.482335,62.250912,0.760789,0.879163
min,1.000000,2000.000000,92.000000,5000.000000,2006.000000,0.000000,4.000000,3.000000,2.000000
25%,4341.250000,5300.000000,1400.000000,79000.000000,2009.000000,0.000000,77.000000,5.000000,5.000000
50%,8681.500000,9500.000000,1900.000000,127000.000000,2012.000000,0.000000,105.000000,5.000000,5.000000
75%,13021.750000,16872.500000,2000.000000,172000.000000,2015.000000,1.000000,140.000000,5.000000,5.000000
max,17362.000000,60000.000000,6417.000000,300000.000000,2021.000000,1.000000,929.000000,5.000000,17.000000

In [41]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17362 entries, 0 to 17361
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RN              17362 non-null  int64
 1   Price           17362 non-null  int64
 2   Make            17344 non-null  object
 3   Model           17213 non-null  object
 4   Body            15904 non-null  object
 5   Fuel            17108 non-null  object
 6   EngineSize      10357 non-null  float64
 7   Tachometer      17362 non-null  int64
 8   Gearbox         17029 non-null  object
 9   ProductionYear  17362 non-null  int64
 10  Color           6243 non-null   object
 11  Private         17362 non-null  int64
 12  EnginePower     16629 non-null  float64
 13  Doors           6440 non-null   float64
 14  Seats           6358 non-null   float64
 15  Advert_Title    17362 non-null  object
 16  Features        17362 non-null  object
dtypes: float64(4), int64(5), object(8)
memory usage: 2.3+ MB

In [42]:
raw.isna().sum()

RN                    0
Price                 0
Make                 18
Model               149
Body               1458
Fuel                254
EngineSize         7005
Tachometer            0
Gearbox             333
ProductionYear        0
Color             11119
Private               0
EnginePower         733
Doors             10922
Seats             11004
Advert_Title          0
Features              0
dtype: int64

In [43]:
raw.Body.value_counts()

Sedan/Saloon    3984
Combi           3109
Hatchback       2633
SUV             2526
VAN              981
MPV              974
Coupe            919
Convertible      726
Pickup            52
Name: Body, dtype: int64

In [44]:
raw.pop('Price')

0         6690
1         7100
2        45000
3        28950
4         8500
         ...
17357    11500
17358     6499
17359    49950
17360     4900
17361     9850
Name: Price, Length: 17362, dtype: int64

In [45]:
cols_to_drop = ['RN', 'Advert_Title', 'Color', 'Seats', 'Doors', 'EngineSize']

df = raw.loc[:, ~raw.columns.isin(cols_to_drop)]

In [46]:
df.isna().sum()

Make                18
Model              149
Body              1458
Fuel               254
Tachometer           0
Gearbox            333
ProductionYear       0
Private              0
EnginePower        733
Features             0
dtype: int64

In [47]:
categorical_columns = ['Make', 'Model', 'Body', 'Fuel', 'Gearbox']

df = pd.get_dummies(df,
               columns = categorical_columns)

In [58]:
from sklearn.impute import SimpleImputer
import numpy as np

imputer_mean = SimpleImputer(missing_values=np.nan, strategy='mean')

In [56]:
numeric_cols = ['Tachometer', 'ProductionYear', 'EnginePower']

#transformed_cols = imputer_mean.fit_transform(df[numeric_cols])

array([[6.425e+04, 2.012e+03, 8.800e+01],
       [2.130e+05, 2.009e+03, 1.300e+02],
       [1.740e+04, 2.019e+03, 1.800e+02],
       ...,
       [1.550e+04, 2.019e+03, 1.700e+02],
       [1.860e+05, 2.010e+03, 1.100e+02],
       [6.500e+04, 2.010e+03, 2.200e+01]])

In [61]:
from sklearn.compose import make_column_selector
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer(
    [("imputer",imputer_mean, make_column_selector(dtype_include=np.number))])

In [63]:
array = ct.fit_transform(df)

In [64]:
array.shape

(17362, 618)